
body{
    background-color:   rgb(112, 191, 112);
    
}

#tela-login{
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    text-align: center;
    position: absolute;
    padding: 40px;
    top: 20%;
    left: 34%;
    font-family:'Poppins', sans-serif; ;
    
   
}

#tela-login #email{
left: 100%;

}

input{
    border-color: rgb(0, 0, 0);
    outline: none;
    font-size: 15px;
    width: 50%;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    
}


button{
    background-color: rgb(112, 191, 112);
    border: none;
    color: white;
    padding: 15px;
    width: 50%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    left: 5%
}

button:hover{
    background-color: darkseagreen
}

img{
    height: 105px;
    width: 105px;
    border-radius: 10px;
   margin-left: 47%;
}
