@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}


body {
    background-image: linear-gradient(to left, #4cec4c, #70bf70);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98vw;
    height: 250vh;


}


img {
    display: block;
    margin: auto;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;

}


h1 {
    text-align: center;
    font-size: 2em;

}

#tela-login {
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    margin-top: 25%;
    position: absolute;
    width: 60%;
    padding: 50px;
    top: 50%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
}

.campos>p {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
}

.form-group input {
    font-size: 15px;
    width: 70%;
    /* Ajuste conforme necessário */
    height: 25px;
    /* Altura aumentada */
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    width: 70%;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    background-color: rgb(112, 191, 112);
    border: none;
    color: white;
    padding: 15px;
    width: 55%;
    height: 30%;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: darkseagreen
}

.botoes {
    display: flex;
    justify-content: center;
}