@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #4cec4c, #70bf70);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


.titulo {
    align-self: flex-start;
    font-size: 1.5em;
}

.listagem-produtos {

    height: 60vh;
    width: 60vw;
    background-color: #fdfdfd;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    border-radius: 25px;
    border-bottom-right-radius: 0%;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.423);
    border: black solid 1px;
    
}



.topicos {
    display: flex;
    justify-content: space-around;
    /* Usa flexbox para alinhar os títulos na horizontal */
    align-items: center;
    flex-basis: 50px;
    font-size: 0.8em;
}


.corpo {
    display: flex;
}


.produto {
    display: flex;
    /* Usa flexbox para alinhar os itens na horizontal */
    justify-content: space-between;
    /* Distribui os itens de forma que fiquem nas extremidades da linha */
    align-items: center;
    /* Alinha verticalmente os itens */
    margin-top: 15px;
}

.produto p {
    margin: 0;
    /* Remove qualquer margem padrão dos parágrafos */
    padding: 0 10px;
    /* Adiciona algum espaçamento entre os itens */
    text-align: center;
    /* Alinha os textos no centro */
}

.produto p:nth-child(1) {
    flex: 1;
    /* O nome do produto ocupa 2 partes do espaço disponível */
}

.produto p:nth-child(2) {
    flex: 1;
    /* O preço ocupa 1 parte do espaço disponível */
}

.produto p:nth-child(3) {
    flex: 1;
    /* A quantidade ocupa 1 parte do espaço disponível */
}


.finalizar-compra {
    background-color: #fdfdfd;
    margin-top: 30vh;
    height: 30vh;
    width: 25vw;
    min-width: 200px;
    /* Define uma largura mínima para melhor adaptação */
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: black solid 1px;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.423);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Distribui os elementos ao longo da altura */
}

.finalizar-compra .btns {
    display: flex;
    width: 100%;
    margin-top: auto;
}

.finalizar-compra .btns a {
    flex: 1 1 45%;
    min-width: 100px;
    border: black solid 1px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}


.btns a:first-child {
    border-radius: 0;
}

.btns a:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 23px;
}


a:hover {
    background-color: darkseagreen
}

.subtotal {
    text-align: center;
}