@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}


body{
   background-image: linear-gradient(to top, #4cec4c, #70bf70);
   width: 100vw;
   height: 100vh;
    
}


main{
    height: 100vh;
    width: 100vw;
    position: relative;
}


#tela-login{
    background-color: white;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    width:68vw;
    height: 385px;
   position: absolute;
    top: 50%;
    left: 50%;
    font-family:'Poppins', sans-serif; 
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 1px 4px 2px rgba(0, 0, 0, 0.423);
   
}

.formulario{
    width: 55%;
    float: right;
    margin-top: 3%;
}

.formulario > h1, p{
    text-align: center;
    margin-bottom: 3%;
}



img{
    width: 45%;
    height: 385px;
    border-radius: 10px;
    display: block;
     float: left;
}

.campo > label{
   margin-left: 23%;
}

.campo input{
    font-size: 15px;
    width: 50%;
    margin-left: 23%;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
    
    
}




input[type="submit"]{
    background-color: #70bf70;
    border: none;
    color: white;
    padding: 10px;
    margin-left: 23%;
    margin-top: 10px;
    width: 53%;
    border-radius: 10px;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
}

input[type="submit"]:hover{
    background-color: darkseagreen
}

.formulario a{
    display: block;
   text-align: center;
   margin-top: 5px;
}




