@charset "UTF-8";


@media screen and (max-width: 760px) {
   

   body{
    overflow-x: hidden;
   }
   
    *{
        padding: 0;
        margin: 0;
    }

    header{
        text-align: center;
        height: 300px;
    }


    header .logo{
        display: none;
    }

    .tags{
        margin-right: 0;
    }

    .tags h1{
      text-align: center;
         
    }
  
    header .funcoes{
        display: block;
        
    }
        

.pesquisar input{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}

.pesquisar input::placeholder{
    font-size: 95%;
    
   padding: 5px;
    }

input.barra{
    display: flex;
    margin-left: 5%;
    margin: 0;
    padding: 0;
}
.barra{
    width: 100%;
}

.lupa{
    display: none;
    }


.menus{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    }

    .perfil{
        margin-left: 0;
        flex: row;
        display: flex; /* Ativa o Flexbox para as imagens */
        justify-content: center;
    }

    .carrinho{
        margin-left: 0;
    }




h2{
    text-shadow: none;
}



    
    main{
        padding: 0;
    }
    main h2{
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 4em;
        margin-top: 8%;

    }

    main .catalago{
        padding: 0;
    }

    .itens-catalago{
        padding-right: 2.5%;
        margin-left: 5.5%;
        display: flex;
        justify-content: center;
    
    }

   
   .fruta-c{
    padding-right: 7%;
    padding-left: 0;
   }
   

    .catalago{
        
        padding: 5px;
        display:flex ;
        justify-content: center;
    }

   

    .catalago a{
        padding: 0;
        display: flex;
       justify-content: center;
       margin-right: 5%;
       margin-left: 0;
       
    }

    .catalago img{
        padding: 0;
    }

    .catalago :first-child{
        padding-left: 0px;
    }
   
.conteudo{
    flex-direction: column;
        }

.conteudo .produtos{
    margin-left: 0;
        }

footer h3{
    font-size: 1em;
        }
        
    }
