@charset "UTF-8";

/* 
mais fraco para o mais forte
#92BF71
#71BF8B
#71BF71
#B2BF71
#71BFA6
#00C203

#fcf5f5c4
#70bf70
#38C151
#1d1d1d
#23A823
*/

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fcf5f5c4;
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: normal;
    overflow-x: hidden;
}




header {
    background-image: linear-gradient(#70bf70, #38C151);
    width: 100%;
    height: 200px;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.45);


}

.itens {
    display: none;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 5%;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
}


.tags h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 250%;
    font-style: normal;
    margin: 0;
    color: #000000;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.tags {
    display: flex;
    height: 150px;
}


.pesquisar {
    display: flex;

}

.pesquisar input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    width: 40%;
    height: 25px;
    border: none;
    outline: none;
    margin-left: 30%;
}

.lupa {
    height: 25px;
    background-color: white;
    margin-left: 0;
    border-radius: px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.entrar {
    text-align: center;
}

.logar {
    display: block;
    margin-top: 5px;
    margin-left: 15%;
    font-size: 70%;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-right: 10%;
}

.logar:hover {
    text-decoration: underline;
    color: white;
}

.perfil {
    height: 27px;
    display: block;
    margin-left: 25%;

}

.acoes {
    display: flex;
}

.compras {
    text-align: center;
}

.carrinho {
    height: 27px;
    margin-left: 20%;
}

.meu-carrinho {
    display: block;
    margin-top: 3.5%;
    margin-left: 25%;
    font-size: 70%;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: black;
    text-align: center;
}

.meu-carrinho:hover {
    text-decoration: underline;
    color: white;
}







.catalago {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    height: 70px;
}

.catalago img {
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.197);
    padding: auto;
}

.catalago img:hover {
    background-image: linear-gradient(to top, #38C151, white);
}

.catalago :last-child {
    margin-right: 0;
}

.catalago a {
    margin-right: 2.5%;

}

.catalago last-a {
    margin-right: 0;
}



main {
    font-family: Arial, Verdana, Helvetica, sans-serif;
}


main h2 {
    color: #2D6B19;
    padding-top: 1%;
    padding-left: 5%;
    text-align: left;
    text-shadow: 1px 3px 7px rgba(0, 0, 0, 0.422);
    font-size: 5em;
    font-family: "Bebas Neue", sans-serif;
    margin: auto;

}


main nav {
    padding-left: 0;
}


.itens-catalago {
    display: flex;
    margin-top: 35px;
    justify-content: center;


}


.itens-catalago a {
    text-decoration: none;
    color: black;
    margin-left: 3%;
    font-weight: bold;

}

.itens-catalago a:hover {
    text-decoration: underline;
    color: #70bf70;

}


a.fruta-c {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0%;
    padding-left: 2%;
}











.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.conteudo :first-child {
    margin-left: 0;
}


.produtos .papelHigienico {
    font-size: 0.9em;
}
.produtos .sabaoAzul{
    height: 152px;
    margin-top: 10px;
}
.qboa{
    margin-top: 5px;
}


.produtos {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 200px;
    height: 320px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #aaaa;
    border: solid;
    border-color: #70bf70;
    font-size: 1.2rem;

}

.produtos img {
    width: 90%;
    margin: auto;
    padding-left: 5px;
    height: 180px;
    border-radius: 10px;
}


.produtos p {
    font-size: 1.2rem;
    text-align: center;
    font-style: normal;
}

.produtos .valor {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}



.produtos button {
    background-color: #2D6B19;
    height: 30px;
    padding: 4px;
    width: 80%;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15%;
    margin-bottom: 35%;
    cursor: pointer;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-transform: uppercase;

}

.produtos button:hover {
    background-color: rgb(133, 199, 133);
}



footer {
    background-image: linear-gradient(#70bf70, #38C151);
    margin-bottom: 0;
    margin-top: 100%;
    margin: auto;
    height: 400px;

}

footer .informacoes {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.349);
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
}

footer h3 {
    font-family: "Be Vietnam Pro", sans-serif;
    margin-right: 0;
}

footer h3:hover {
    text-decoration: underline;
}



.institucional a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 1.2em;
    
}

.institucional a:hover {
    text-decoration: underline;
}



.entregas a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: white;
    font-size: 1.2em;
}

.entregas a:hover {
    text-decoration: underline;
}


.institucional .entrega {
    display: flex;
    text-decoration: none;
    padding: 5px;
    color: white;
    margin-left: 49%;
    margin-top: 0%;
}


.formasPagamento {
    display: block;

}

.formasPagamento img {
    height: 75px;
    border-radius: 5%;
}


.fab {
    color: greenyellow;
    border-radius: 50%;
    height: 40px;
    font-size: 30pt;
}

.RedesSocias {
    display: block;
}

.RedesSocias img {
    border-radius: 50%;
    height: 40px;

}

.direitos {
    text-align: center;
    margin-top: 12%;
    padding: 10px;
    font-size: 10px;
    color: rgb(228, 228, 228);
}


